<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://buybook.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6e58ce1e-6dd2-4ba9-978d-52b73c2a7eae/resourcegroups/DigiBook/providers/Microsoft.Web/sites/BuyBook</ResourceId>
    <UserName>$BuyBook</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://buybook.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>